.flex {
  width: 600px;
  overflow: hidden;
  .left {
    float: left;
    background-color: #f00;
  }
  .right {
    overflow: hidden;
    background-color: #00f;
    .inputs {
      width: 100%;
    }
  }
}